/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$green: #0a0;
$red: #f00;
$body-background-color: #fff;

/* Components */
